.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  word-break: break-all;
}

.actions {
  display: flex;
  align-items: center;
}
