.slick-slide > div {
  margin: 0 12px;
}

.slick-list {
  margin: 0 -12px !important;
  overflow: inherit !important;
}

.carousel-image {
  cursor: pointer;
  transition: .3s ease-out;

  &:hover {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
}