.dream {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 8px;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
  }

  svg {
   color: $colorPrimarySecondaryLight;
  }


  @include media(md) {
    p {
      display: none;
    }
  }
}
