{
  email {$TLS_EMAIL}
}


{$DOMAIN_NAME} {
  # HTTPS options:
  header Strict-Transport-Security max-age=31536000;

  # Removing some headers for improved security:
  header -Server

  header /robots.txt {
    User-agent *
    Allow /
  }
  # Serving dynamic requests:
  reverse_proxy ctd_frontend:3000

   # Allows to use `.gz` files when available:
  encode gzip

  # Logs:
  log {
          output stdout
  }
