$colorPrimary: #214fe2;
$colorPrimaryBg: #e5fffd;
$colorPrimaryBgHover: #e5fffd;
$colorWhite: #fff;
$colorGrayBg: #f8f8f8;
$colorSuccess: #70d468;
$colorDisabled: hsl(219, 12%, 78%);
$colorBgDisabled: #F3F4F5;
$colorBgAccent: #e6f6ff;
$colorBgAccentHover: #dbf2ff;
$colorBgGray: #fafafb;

// PRIMARY
$colorPrimary10: #18379b;
$colorPrimary6: #2d51da;
$colorPrimary5: #4f76e1;
$colorPrimary2: #b6e4f4;
$colorPrimary1: #e8f9ff;

$colorSecondaryDark70: #6484eb;

$colorPrimarySecondaryLight: #01a6ff;
$colorPrimarySecondaryDark: #214fe2;

// NEUTRAL
$colorNeutral2: #f5f9fa;
$colorNeutral3: #e9eff0;
$colorNeutral5: #d1dbdd;

// DUST RED

$colorDustRed1: #fff1f0;
$colorDustRed2: #ffccc7;

// Placeholder

$colorPlaceholder25: #bfc4cd;
$colorDivider: #e6e8ec;

$textColor: #000000d9;
$disabledTextColor: #00000040;

$colorBlack: #000a26;
$colorBlack: #001339;

$colorSuccess: #52c41a;
$colorSuccessBg: #eef9e8;
$colorWarning: #faad14;
$colorWarningBg: #fff7e7;
$colorDanger: #ff4d4f;
$colorDangerBg: #ff4d4f;

$colorOrganization: #08979c;

$colorSecondary45: #8c95a6;
$colorCharacter15: #d9dce1;
$colorCharacter85: #263656;
