.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--background-block);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}
