.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $colorWhite;
  border-radius: 12px;
  gap: 16px;
  justify-content: center;
  padding: 40px 0;
  text-align: center;
}
