.container {
  width: 100%;
  padding: 32px 24px !important;
  background-color: $colorWhite;
  border-radius: 16px !important;

  &__title {
    margin: 0;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 14px;
    height: auto !important;
  }
}

@include media(md) {
  .container {
    padding: 0 !important;
  }
}