.container {
  display: grid;
  grid-template-columns: 18px 1fr;
  align-items: start;
  grid-gap: 10px;
  padding: 16px;
  border-radius: 20px;
  outline: 1px solid $colorDivider;

  svg {
    margin-top: 2px;
    font-size: 18px;
    color: $colorPrimarySecondaryLight;
  }
}
